<%= form_for @mnote do |f| %>
  <% if @mnote.errors.any? %>
    <div>
      <h2><%= pluralize(@mnote.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% @mnote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='wrapper'>
    <div class="row">
      <h1 class="form_header">Update Note</h1>
    </div>
    <div class="row">
      <%= f.label :recruit_id, 'Recruit', class: 'form-actions' %>
      <%= f.select :recruit_id, Recruit.where('status_id = 1').collect { |r| [r.full_name, r.id]} %>
    </div>
    <div class="row">
      <%= f.label :text, 'Note', class: 'form-actions' %>
      <%= f.text_area :text, class: 'text_area' %>
    </div>
    <div class="form-actions">
      <%= f.button 'Update' %>
      <p><%= link_to "Delete Note", mnote_path(@mnote.id), data: { confirm: "Are you sure?" }, method: :delete, :class => 'user_links' %> <br />
    </div>
  </div>
<% end %>
