<%= form_for @cnote do |f| %>
  <% if @cnote.errors.any? %>
    <div>
      <h2><%= pluralize(@cnote.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% @cnote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='wrapper'>
    <div class="row">
      <h1 class="form_header">Update Note</h1>
    </div>
    <div class="row">
      <%= f.label :recruit_id, 'Recruit', class: 'form-actions' %>
      <%= f.select :recruit_id, Recruit.where('status_id = 1').collect { |r| [r.full_name, r.id]} %>
    </div>
    <div class="row">
      <%= f.label :user_id, 'Coach', class: 'form-actions' %>
      <%= f.select :user_id, options_for_select(@users) %>
    </div>
    <div class="row">
      <%= f.label :date, 'Date', class: 'form-actions' %>
      <%= f.date_field :date, class: 'text_field' %>
    </div>
    <div class="row">
      <%= f.label :text, 'Note', class: 'form-actions' %>
      <%= f.text_area :text, class: 'text_area' %>
    </div>
    <div class="form-actions">
      <%= f.button 'Update' %>
      <p><%= link_to "Delete Note", cnote_path(@cnote.id), data: { confirm: "Are you sure?" }, method: :delete, :class => 'user_links' %> <br />
    </div>
  </div>
<% end %>
