<div class='wrapper'>
  <div class="row">
    <h1 class="form_header">Add a Coach's Note</h1>
  </div>
  <%= form_for @cnote do |f| %>
    <div class="row">
      <%= f.label :recruit_id, 'Recruit', class: 'form-actions' %>
      <%= f.select :recruit_id, Recruit.where('status_id = 1').collect { |r| [r.full_name, r.id]} %>
    </div>
    <div class="row">
      <%= f.label :user_id, 'Coach', class: 'form-actions' %>
      <%= f.select :user_id, User.all.collect { |r| [r.name, r.id]} %>
    </div>
    <div class="row">
      <%= f.label :date, 'Date', class: 'form-actions' %>
      <%= f.date_field :date, class: 'text_field' %>
    </div>
    <div class="row">
      <%= f.label :text, 'Note', class: 'form-actions' %>
      <%= f.text_area :text, class: 'text_area' %>
    </div>
    <div class="form-actions">
      <%= f.button 'Submit' %>
    </div>
  <% end %>
</div>
