<% if user_signed_in? %>
  <div class='wrapper'>
    <div class="row">
      <h1 class="form_header">Add a Coach's Note</h1>
    </div>
    <%= form_for @cnote do |f| %>
      <div class="row">
        <%= f.label :recruit_id, 'Recruit', class: 'form-actions' %>
        <%= f.select :recruit_id, options_for_select(@recruits) %>
      </div>
      <div class="row">
        <%= f.label :date, 'Date', class: 'form-actions' %>
        <%= f.date_field :date %>
      </div>
      <div class="row">
        <%= f.label :text, 'Note', class: 'form-actions' %>
        <%= f.text_area :text, cols: "50", rows: "25" %>
      </div>
      <div class="form-actions">
        <%= f.submit 'Submit' %>
      </div>
    <% end %>
  </div>
<% end %>
