<div class='wrapper'>
  <div class="row">
    <h1 class="form_header">Add a Coach's Note</h1>
  </div>
  <%= simple_form_for @cnote do |f| %>
    <div class="row">
      <%= f.label :recruit_id, 'Recruit', class: 'form-actions' %>
      <%= f.select :recruit_id, Recruit.where('status_id = 4').collect { |r| [r.name, r.id]} %>
    </div>
    <div class="row">
      <%= f.label :user_id, 'Coach', class: 'form-actions' %>
      <%= f.select :user_id, User.all.collect { |r| [r.name, r.id]} %>
    </div>
    <div class="row">
      <%= f.label :date, 'Date', class: 'form-actions' %>
      <%= f.date_field :date %>
    </div>
    <div class="row">
      <%= f.label :text, 'Note', class: 'form-actions' %>
      <%= f.text_area :text, cols: "50", rows: "25" %>
    </div>
    <div class="form-actions">
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>
