<div class='applicants-header'>
  <%= image_tag 'doane-logo2.png', :class => 'basketball_pic' %>
  <div class='grid-container'>
    <div class='grid-item'>
      <p><%= link_to "Back", :back, {class: 'more_links'} %></p>
    </div>
    <div class='grid-item'>
      <p><%= link_to "Home", root_path, {class: 'more_links'} %></p>
    </div>
  </div>
</div>
<br><br>
<div class="public_menu">
  <h2><%= link_to 'Visit Doane\'s Academic Page', 'http://doane.edu', :target => '_blank', :class=>'public_links' %></h2>
  <h2><%= link_to 'Visit Doane\'s Women\'s Basketball Page', 'http://doaneathletics.com/sport/0/2.php', :target => '_blank', :class=>'public_links'  %></h2>
  <h2><%= link_to 'Fill Out A Player Interest Form', new_applicant_path, :class=>'public_links' %></h2>
</div>
