<div class='wrapper'>
  <%= form_for @search do |s| %>
    <div class="row">
      <%= s.label :status %>
      <%= s.select :status_id, options_for_select(@status_options) %>
    </div>
    <div class="row">
      <%= s.label :year_id %>
      <%= s.select :year_id, options_for_select(@years), :include_blank => true %>
    </div>
    <div class="row">
      <%= s.label :level %>
      <%= s.select :level_id, options_for_select(@levels), :include_blank => true %>
    </div>
    <div class="row">
      <%= s.label :funnel %>
      <%= s.select :funnel_id, options_for_select(@funnels), :include_blank => true %>
    </div>
    <div class="row">
      <%= s.label :position %>
      <%= s.select :position_id, options_for_select(@positions), :include_blank => true %>
    </div>
    <div class="form-actions">
      <%= s.button 'Submit' %>
    </div>
  <% end %>
</div>
