<div class='wrapper'>
  <%= form_for @school do |f| %>
    <div class="row">
      <h1 class="form_header">Create a New School Listing</h1>
      <h3>Fields with * are required</h3>
      </div>
      <div class="row">
        <%= f.label :name, 'School Name *', class: 'form-actions' %>
        <%= f.text_field :name, required: true %>
      </div>
      <div class="row">
      <%= f.label :address, 'Address', class: 'form-actions' %>
      <%= f.text_field :address %>
    </div>
    <div class="row">
      <%= f.label :city, 'City *', class: 'form-actions' %>
      <%= f.text_field :city, required: true %>
    </div>
    <div class="row">
      <%= f.label :state, 'State *', class: 'form-actions' %>
      <%= f.text_field :state, required: true %>
    </div>
    <div class="row">
      <%= f.label :zip, 'Zip Code *', class: 'form-actions' %>
      <%= f.text_field :zip, required: true %>
    </div>
    <div class="row">
      <%= f.label :coach, 'Head Coach *', class: 'form-actions' %>
      <%= f.text_field :coach, required: true %>
    </div>
    <div class="row">
      <%= f.label :phone, 'Phone *', class: 'form-actions' %>
      <%= f.text_field :phone, required: true %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>
