<%= form_for @recruit do |f| %>
  <% if @recruit.errors.any? %>
    <div>
      <h2><%= pluralize(@recruit.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% @recruit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='wrapper'>
    <div class="row">
      <h1 class="form_header">Update <%= @recruit.name%></h1>
    </div>
    <div class="row">
      <%= f.label :school_id, 'School', class: 'form-actions' %>
      <%= f.select :school_id, School.all.collect { |s| [s.name, s.id] } %>
    </div>
    <div class="row">
      <%= f.label :year_id, 'Graduation Year', class: 'form-actions' %>
      <%= f.select :year_id, Year.where(active: true ).collect { |y| [y.year, y.id] } %>
    </div>
    <div class="row">
      <%= f.label :position_id, 'Position', class: 'form-actions' %>
      <%= f.select :position_id, Position.all.collect { |p| [p.name, p.id] } %>
    </div>
    <div class="row">
      <%= f.label :level_id, 'Level', class: 'form-actions' %>
      <%= f.select :level_id, Level.all.collect { |l| [l.name, l.id] } %>
    </div>
    <div class="row">
      <%= f.label :funnel_id, 'Funnel', class: 'form-actions' %>
      <%= f.select :funnel_id, Funnel.all.collect { |f| [f.name, f.id] } %>
    </div>
    <div class="row">
      <%= f.label :name, 'Full Name', class: 'form-actions' %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="row">
      <%= f.label :address, 'Address', class: 'form-actions' %>
      <%= f.text_field :address, required: true %>
    </div>
    <div class="row">
      <%= f.label :city, 'City', class: 'form-actions' %>
      <%= f.text_field :city, required: true %>
    </div>
    <div class="row">
      <%= f.label :state, 'State', class: 'form-actions' %>
      <%= f.text_field :state, required: true %>
    </div>
    <div class="row">
      <%= f.label :zip, 'Zip Code', class: 'form-actions' %>
      <%= f.text_field :zip, required: true %>
    </div>
    <div class="row">
      <%= f.label :email, 'Email', class: 'form-actions' %>
      <%= f.text_field :email, required: true %>
    </div>
    <div class="row">
      <%= f.label :phone, 'Phone', class: 'form-actions' %>
      <%= f.text_field :phone, required: true %>
    </div>
    <div class="row">
      <%= f.label :height, 'Height', class: 'form-actions' %>
      <%= f.text_field :height, required: true %>
    </div>
    <div class="row">
      <%= f.label :gpa, 'GPA', class: 'form-actions' %>
      <%= f.text_field :gpa, required: true %>
    </div>
    <div class="row">
      <%= f.label :act, 'ACT Score', class: 'form-actions' %>
      <%= f.text_field :act %>
    </div>
    <div class="row">
      <%= f.label :academic, 'Academic Scholarship awarded, if applicable', class: 'form-actions' %>
      <%= f.text_field :academic %>
    </div>
    <div class="row">
      <%= f.label :basketball, 'Basketball Scholarship awarded, if applicable', class: 'form-actions' %>
      <%= f.text_field :basketball %>
    </div>
    <div class="row">
      <%= f.label :minutes, 'Minutes', class: 'form-actions' %>
      <%= f.text_field :minutes %>
    </div>
    <div class="row">
      <%= f.label :ppg, 'Points', class: 'form-actions' %>
      <%= f.text_field :ppg %>
    </div>
    <div class="row">
      <%= f.label :o_rebound, 'Offensive Rebounds', class: 'form-actions' %>
      <%= f.text_field :o_rebound %>
    </div>
    <div class="row">
      <%= f.label :d_rebound, 'Defensive Rebounds', class: 'form-actions' %>
      <%= f.text_field :d_rebound %>
    </div>
    <div class="row">
      <%= f.label :two, 'Two Point Ave', class: 'form-actions' %>
      <%= f.text_field :two %>
    </div>
    <div class="row">
      <%= f.label :three, 'Three Point Ave', class: 'form-actions' %>
      <%= f.text_field :three %>
    </div>
    <div class="row">
      <%= f.label :free_throw, 'Free Throw Ave', class: 'form-actions' %>
      <%= f.text_field :free_throw %>
    </div>
    <div class="row">
      <%= f.label :assists, 'Assists', class: 'form-actions' %>
      <%= f.text_field :assists %>
    </div>
    <div class="row">
      <%= f.label :steals, 'Steals', class: 'form-actions' %>
      <%= f.text_field :steals %>
    </div>
    <div class="row">
      <%= f.label :turn_overs, 'Turn Overs', class: 'form-actions' %>
      <%= f.text_field :turn_overs %>
    </div>
    <div class="row">
      <%= f.label :status_id, 'Status', class: 'form-actions' %>
      <%= f.select :status_id, @status_options %>
    </div>
    <div class="form-actions">
      <%= f.submit 'Update' %>
      <p><%= link_to "Delete Recruit", recruit_path(@recruit.id), data: { confirm: "Are you sure? Recruit should only be deleted if it is a duplicate. If not a duplicate, set status to either Expired or Rejected" }, method: :delete, :class => 'user_links' %> <br />
    </div>
  </div>
<% end %>
