<div class="wrapper">
  <div class="index_header">
    <h3>Recruits from Past Classes</h3>
  </div>
  <% @recruits.each do |f| %>
    <% if f.year.status = 'inactive' %>
      <a href= <%= recruit_path(f.id) %> class='more_links'>
        <h4><%= f.last_name%>, <%= f.first_name %><br /></h4>
      </a>
    <% end %>
  <% end %>
</div>

<div class="wrapper">
  <div class="index_header">
    <h3>Rejected Applicants</h3>
  </div>
  <% @more_recruits.each do |r| %>
      <a href= <%= recruit_path(r.id) %> class='more_links'>
        <h4><%= r.last_name%>, <%= r.first_name %><br /></h4>
      </a>
  <% end %>
</div>
