<br><br>
  <%= simple_form_for :recruit, :method => 'get', :url => recruits_path, :html => {:class => 'form-inline'} do |f| %>
    <%= f.label :year_id, 'Class'%>
    <%= f.select :year_id, Year.where('active = true').collect { |y| [y.year, y.id]}, label: t('Class'), :required => false %>
    <%= f.label :level_id, 'Level'%>
    <%= f.select :level_id, Level.all.collect { |l| [l.name, l.id]} %>
    <%= f.label :funnel_id, 'Funnel'%>
    <%= f.select :funnel_id, Funnel.all.collect { |u| [u.name, u.id]} %>
    <%= f.label :position_id, 'Position'%>
    <%= f.select :position_id, Position.all.collect { |p| [p.name, p.id]} %>
    <%= f.button :submit, "Search"%>
  <% end %>


<br><br><br>
<div class="public_menu">
  <h1>Recruits</h1>
  <% @recruits.each do |f| %>
    <a href= <%= recruit_path(f.id) %> class='more_links'>
      <h4 ><%= f.name %></h4>
    </a>
  <% end %>
</div>
