<%= form_for @year do |f| %>
  <% if @year.errors.any? %>
    <div>
      <h2><%= pluralize(@year.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% @year.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='wrapper'>
    <div class="row">
      <h1 class="form_header">Update Class</h1>
    </div>
    <div class="row">
      <%= f.label :name, 'Year', class: 'form-actions' %>
      <%= f.text_field :year, class: 'text_field' %>
    </div>
    <div class="row">
      <%= f.label :active, 'Active', class: 'form-actions' %>
      <%= f.select :status, options_for_select([['Active', 'active'], ['Inactive', 'inactive']]) %>
    </div>
    <div class="form-actions">
      <%= f.button 'Update' %>
      <p><%= link_to "Delete Year", year_path(@year.id), data: { confirm: "Are you sure? Years should only be deleted if it is a duplicate" }, method: :delete, :class => 'user_links' %> <br />
    </div>
  </div>
<% end %>
