<!DOCTYPE html>
<html>
  <head>
    <title>RecruitApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <%= image_tag 'doane-logo.png', {class: 'logo-pic'} %>






    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
